<mtapp:setting
    id="faviconmanager_blog_icon"
    label="blog favicon url">
    <input name="faviconmanager_blog_icon" id="blog_icon" value="<TMPL_VAR NAME=FAVICONMANAGER_BLOG_ICON ESCAPE=HTML>" />
</mtapp:setting>
