<mtapp:setting
    id="faviconmanager_blog_icon"
    label="<__trans phrase="blog favicon url">">
    <input name="faviconmanager_blog_icon" id="blog_icon" value="<TMPL_VAR NAME=FAVICONMANAGER_BLOG_ICON ESCAPE=HTML>" />
<p><__trans phrase="enter URL address of this blog shortcut icon."></p>
</mtapp:setting>
