<mtapp:setting
    id="faviconmanager_cms_icon"
    label="cms favicon url">
    <input name="faviconmanager_cms_icon" id="cms_icon" value="<TMPL_VAR NAME=FAVICONMANAGER_CMS_ICON ESCAPE=HTML>" />
</mtapp:setting>
