<div class="setting">
    <div class="label">
        <label for="favicon_path_to_icon"><MT_TRANS phrase="favicon URL"></label>
    </div>
    <div class="field">
        <input type="text" name="favicon_path_to_icon" id="favicon_path_to_icon" value="<TMPL_VAR NAME=FAVICON_PATH_TO_ICON ESCAPE=HTML>" />
        <p><MT_TRANS phrase="enter URL address of this blog shortcut icon."></p>
    </div> 
</div>
