<div class="setting">
    <div class="label">
        <label for="cmsfavicon_path"><MT_TRANS phrase="favicon URL"></label>
    </div>
    <div class="field">
        <input type="text" name="cmsfavicon_path_to_icon" id="cmsfavicon_path_to_icon" value="<TMPL_VAR NAME=CMSFAVICON_PATH_TO_ICON ESCAPE=HTML>" />
        <p><MT_TRANS phrase="enter URL address of your shortcut icon.">
    </div> 
</div>
